<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>换班盘点</title>
    <link href="../Component/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/Style.css?v=1020" rel="stylesheet" />
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/dispatch.js"></script>
    <script src="../Component/Bootstrap/js/bootstrap.min.js"></script>
    <script src="../Component/art-template/arttemplate.js"></script>
    <script src="../Scripts/common.js?v=104"></script>
    <style>
        .flight-before-block {
            float: left;
            height: 50px;
            line-height: 50px;
            margin-left: 30px;
        }

        .dinnercar-list-block {
            margin-bottom: 10px;
        }

            .dinnercar-list-block .dinnercar-list {
                width: auto;
            }

        .fliter-block {
            margin-top: 0;
        }

        .barcode-block {
            float: right;
            margin-right: 40px;
        }

            .barcode-block .lb {
                float: left;
                height: 50px;
                line-height: 50px;
                margin-right: 10px;
                color: #666;
            }

            .barcode-block .control {
                width: 262px;
                height: 50px;
                border: 0;
                background: #EBEBEB;
                line-height: 50px;
                padding: 0 8px;
                border-radius: 4px;
                float: left;
                margin-right: 10px;
            }

        .btn-barcode {
            background: url(../Images/barcode.png);
            background-repeat: no-repeat;
            background-position: center;
            border: 0;
            background-size: contain;
            height: 50px;
            width: 100px;
            float: left;
            display: inline;
        }

        .associate-block {
            width: 100%;
            padding-left: 13px;
            float: left;
        }

        .text-number {
            font-size: 30px;
        }

        .f-w {
            font-size: 18px;
        }

        .appmodal-header2 {
            font-size: 16px;
            border-bottom: none;
        }

        .appmodal-body {
            padding: 0;
        }

        /*.prd-manage-modal .appmodal-footer {
            height: 120px;
            line-height: 120px;
        }*/

        .prd-manage-modal .appmodal-footer .btn {
            width: 146px;
            height: 48px;
        }



        .xiugai {
            cursor: pointer;
        }

        .list-container {
            height: calc(100% - 115px);
        }

        #search, .fliter-item, .dinnercar-item, .iconradio, .btn-skuupdate {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="content-header">
            <div class="content-title">
                <span></span><h3>换班盘点</h3>
            </div>

            <!--<div class="barcode-block">
                <label class="lb">扫描商品条形码</label>
                <input class="control" type="text" value="NO.20187383">
                <button class="btn-barcode"></button>
            </div>-->
            <!--<div class="associate-block">
                <label>交易单号：</label>
                <span id="txt_orderno"></span>
            </div>-->
        </div>
        <div class="content-body">
            <!--<div class="seach-block on">
                <div class="btn-group">
                    <button type="button" class="btn btn-dark btn-fliter">筛选</button>
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="serach-group">
                    <input class="search-control" placeholder="请输入商品名称">
                    <div class="search-icon">
                        <span class="iconfont icon-search" id="search"></span>
                    </div>
                </div>
            </div>-->
            <div class="dinnercar-list-block">
                <ul class="dinnercar-list" id="dinnercarlist"></ul>
                <div class="fliter-block">
                    <span class="fliter-item on"><i class="iconfont icon-dinnercar"></i>按餐车号显示</span>
                    <span class="fliter-item"><i class="iconfont icon-menu"></i>全部显示</span>
                </div>
            </div>

            <div class="list-container clearfix" id="prodlist">

            </div>
        </div>
        <div class="content-footer text-center">
            <!--<div class="footer-checkallgroup">
                <span class="check-box" style="display: block"><i class="uncheck"></i>全选</span>
                <span class="pull-right">餐车内共<span class="text-number">20</span>件商品</span>
            </div>

            <div class="footer-btngroup">-->
            <button type="button" class="btn" id="btn_transfer">盘库确认</button>
            <button type="button" class="btn btn-major" id="btn_back">返回</button>
            <!--</div>-->
        </div>
    </div>
    <div class="appmodal" id="modal-msg">
        <div class="mask"></div>
        <div class="appmodal-content">
            <div class="appmodal-header ">
                <span></span>
            </div>
            <div class="appmodal-body text-center">
                <span></span>
            </div>
            <div class="appmodal-footer">
                <button class="btn btn-cancel" type="button">取消</button>
                <button class="btn btn-major btn-confirm" type="button">确认</button>
            </div>
        </div>
    </div>
    <div class="appmodal" id="modal_showTotalCheck">
        <div class="mask"></div>
        <div class="appmodal-content">
            <div class="appmodal-header ">
                <span>提示</span>
            </div>
            <div class="appmodal-body text-center">
                <div class="content-row"><label>实盘总数：</label><span id="txt_confirm_total"></span></div>
                <div class="content-row"><label>差异总数：</label><span id="txt_damaged_total"></span></div>
            </div>
            <div class="appmodal-footer">
                <button class="btn quxiao1" type="button">取消</button>
                <button class="btn btn-major queren2" type="button">确认</button>
            </div>
        </div>
    </div>
    <div class="appmodal prd-manage-modal">
        <div class="mask"></div>
        <div class="appmodal-content">
            <div class="appmodal-header">
                <span class="weight"></span>
            </div>
            <div class="appmodal-body">
                <div class="h-modal-form-wrapper">
                    <div class="h-modal-form-item">
                        <span class="key">餐车编号：</span>
                        <span class="value"><span id="txt_dinnercarno"></span></span>
                    </div>
                    <!--<div class="h-modal-form-item mg-12">
                        <span class="key">已售数量：</span>
                        <div class="calc-wrapper">
                            <div class="operate-calc btn-group operate-item" max="5" min="0">
                                <button type="button" class="btn btn-point point-l" data-point="-1">-</button>
                                <input type="number" id="num_sale" readonly="readonly" class="calc-input" value="0">
                                <button type="button" class="btn btn-point point-r" data-point="1">+</button>
                            </div>
                        </div>
                    </div>-->
                    <div class="h-modal-form-item mg-12">
                        <span class="key">破损数量：</span>
                        <div class="calc-wrapper">
                            <div class="operate-calc btn-group operate-item">
                                <button type="button" class="btn btn-point point-l" data-point="-1">-</button>
                                <input type="number" id="num_damagedCount" readonly="readonly" class="calc-input" value="0">
                                <button type="button" class="btn btn-point point-r" data-point="1">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="h-modal-form-item mg-12">
                        <span class="key">盘点库存：</span>
                        <div class="calc-wrapper">
                            <div class="operate-calc btn-group operate-item">
                                <button type="button" class="btn btn-point point-l" data-point="-1">-</button>
                                <input type="number" id="num_stock" readonly="readonly" class="calc-input" value="0">
                                <button type="button" class="btn btn-point point-r" data-point="1">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="h-modal-form-item vertical-top last-item" style="display: none">
                        <span class="key">商品照片：</span>
                        <div class="photo-wrapper" id="block_photos">

                            <div class="photo-item">
                                <div class="file-mask">
                                    <span class="iconfont icon-xiangji"></span>
                                </div>
                                <!--<input type="file" />-->
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hd_sku" />
                <input type="hidden" id="hd_carno" />
            </div>
            <div class="appmodal-footer">
                <button class="btn quxiao" type="button">取消</button>
                <button class="btn btn-major" id="btn_updateNum" type="button">确认</button>
            </div>
        </div>
    </div>
    <div class="toast">
        <div class="mask"></div>
        <div class="toast-msg"><span></span></div>
    </div>
    <script id="s_dinnercarlist" type="text/html">
        {{each list value index}}
        {{if index==0}}
        <li class="dinnercar-item on" data-carid="{{value.DiningCarNo}}">餐车{{value.DiningCarNo}}</li>
        {{else}}
        <li class="dinnercar-item" data-carid="{{value.DiningCarNo}}">餐车{{value.DiningCarNo}}</li>
        {{/if}}
        {{/each}}
    </script>
    <script id="s_prodlist" type="text/html">
        {{each list value index}}
        <div class="box" data-qty="{{value.Qty}}" data-prodsku="{{value.Sku}}" data-carno="{{value.DiningCarNo}}" data-name="{{value.ProductName}}">
            <dl>
                <dt>
                    <span class="iconradio">
                        {{if value.IsCheck==0}}
                        <i class="uncheck"></i>
                        {{else}}
                        <i class="iconfont icon-duigou"></i>
                        {{/if}}
                    </span>
                    <span class="btn-skuupdate"><i class="iconfont icon-edit"></i>修改</span>
                </dt>
                <dd><img class="icon-barcode" src="../Images/barcode.png" />{{value.Sku}}</dd>
                <dd>{{value.ProductName}}</dd>
                <dd><span>结余数</span><span>{{value.Qty}}</span></dd>
                <dd><span>实际数</span><span>{{value.ActQty}}</span></dd>
                <dd><span>破损数</span><span>{{value.DamagedNum}}</span></dd>
            </dl>
        </div>
        {{/each}}
    </script>
    <script id="s_prodlist_all" type="text/html">
        {{each list value index}}
        <div class="box" data-qty="{{value.Qty}}" data-prodsku="{{value.Sku}}" data-carno="{{value.DiningCarNo}}">
            <dl>
                <dt>
                    <span class="iconradio">
                        {{if value.IsCheck==0}}
                        <i class="uncheck"></i>
                        {{else}}
                        <i class="iconfont icon-duigou"></i>
                        {{/if}}
                    </span>
                    <span class="btn-skuupdate"><i class="iconfont icon-edit"></i>修改</span>
                </dt>
                <dd><img class="icon-barcode" src="../Images/barcode.png" />{{value.Sku}}</dd>
                <dd>{{value.ProductName}}</dd>
                <dd><span>结余数</span><span>{{value.Qty}}</span></dd>
                <dd><span>实际数</span><span>{{value.ActQty}}</span></dd>
                <dd><span>破损数</span><span>{{value.DamagedNum}}</span></dd>
                <dd><span>餐车号</span><span>{{value.DiningCarNo}}</span></dd>
            </dl>
        </div>
        {{/each}}
    </script>
    <script>
        var damagedprodList = new Array();
        var prodList = new Array();
        $(function () {
            initNumbox();

            getLoginInfo(function () {

                $("#txt_prevflightno").text();
                getDinnercarList();
            });

            $(document).on("click", ".dinnercar-item", function () {
                if ($(this).hasClass("on")) {
                    return;
                } else {
                    $(".dinnercar-item.on").removeClass("on");
                    $(this).addClass("on");
                    var dinnerCarNo = $(this).data("carid");
                    fliterProdByCar(dinnerCarNo);
                }
            });

            $(document).on("click", ".iconradio", function () {
                if ($(this).parents("dt").hasClass("disabled")) {
                    return;
                }
                var prodsku = $(this).parents(".box").data("prodsku");
                var carno = $(this).parents(".box").data("carno");
                var radio = $(this).find("i");
                var checked = radio.hasClass("iconfont");
                var plist = prodList.list;

                if (checked) {
                    radio.removeClass("iconfont").removeClass("icon-duigou").addClass("uncheck");
                    for (var i = 0; i < plist.length; i++) {
                        if (plist[i].Sku == prodsku && plist[i].DiningCarNo == carno) {
                            plist[i].IsCheck = 0;
                            removeChecked(prodsku, carno);
                            break;
                        }
                    }
                } else {
                    radio.removeClass("uncheck").addClass("iconfont").addClass("icon-duigou");
                    for (var i = 0; i < plist.length; i++) {
                        if (plist[i].Sku == prodsku && plist[i].DiningCarNo == carno) {
                            plist[i].IsCheck = 1;
                            addChecked(prodsku, carno);
                            break;
                        }
                    }
                }
            });

            $(document).on("click", ".btn-skuupdate", function () {
                if ($(this).parents("dt").hasClass("disabled")) {
                    return;
                }
                var sku = $(this).parents(".box").data("prodsku");
                var carno = $(this).parents(".box").data("carno");
                var qty = $(this).parents(".box").data("qty");
                var name = $(this).parents(".box").data("name");
                for (var i = 0; i < prodList.list.length; i++) {
                    if (prodList.list[i].DiningCarNo == carno && prodList.list[i].Sku==sku) {
                        $("#num_stock").val(prodList.list[i].ActQty);
                        $("#num_damagedCount").val(prodList.list[i].DamagedNum);
						break;
                    }
                }
                $("#num_stock").parents(".operate-calc").attr("max", qty).attr("min", 0);
                $("#num_damagedCount").parents(".operate-calc").attr("max", qty).attr("min", 0);
                $("#hd_sku").val(sku);
                $("#hd_carno").val(carno);
                $("#txt_dinnercarno").text(carno);
                $(".prd-manage-modal .appmodal-header span").text(name);
                $(".prd-manage-modal").show();
            });

            //餐车号显示与隐藏
            $('.fliter-item').click(function () {
                var q = $(this).index();
                $(this).addClass('on').siblings('.fliter-item').removeClass('on');
                if (q == 0) {
                    var dinnerCarNo = $(".dinnercar-item.on").data("carid");
                    fliterProdByCar(dinnerCarNo);
                    $('.dinnercar-list').css('display', 'block');
                } else {
                    $('.dinnercar-list').css('display', 'none');
                    fliterProdByCar();
                }
            });
            //取消
            $(".quxiao").click(function () {
                $(".prd-manage-modal").hide();
            });
            $(".quxiao1").click(function () {
                $(".appmodal").hide();
            });
            //确认
            $('#btn_transfer').click(function () {
                checkSubmit();
            });
            $('#btn_updateNum').click(function () {
                updateProdStock();
            });

            $(".queren2").click(function () {
                var transferparam = {
                    inventoryList: damagedprodList
                }

                appJsBridge.callHandler("inventory", transferparam, function (result) {
                    checkSuccess(result, function () {
                        AppAlert("提示", "库存盘点成功!", function (data) {
                            window.location.href = "Query.html?type=2";
                        });
                    });
                });
                $(".appmodal").hide();
            });
            //交接历史：
            $('.lishi').click(function () {
                window.location.href = 'Query.html';
            });
            //返回
            $('#btn_back').click(function () {
                window.history.go(-1);
            });
        });

        function getDinnercarList() {
            var param = {
                sql: "select distinct DiningCarNo from Inventory where 1=1" + sqlFliteFlight,
                type: "dinnercarList"
            }
            appJsBridge.callHandler("selectList", param, function (result) {
                checkSuccess(result, function () {
                    $("#dinnercarlist").html(template("s_dinnercarlist", result));
                    getProductList(result.list[0].DiningCarNo);
                });
            });
        }

        function getProductList(carNo) {
            var param = {
                sql: "SELECT Inventory.ID,Inventory.ProductID,Inventory.ProductItemID,Inventory.Sku," +
                    "Inventory.DiningCarNo,Inventory.Barcode,Inventory.ProductName,Inventory.Unit, " +
                    "damage.Qty as 'DamageQty',ifnull(Inventory.Qty,0)+ifnull(damage.Qty,0) as ActQty,ifnull(Inventory.Qty,0)+ifnull(damage.Qty,0) as Qty,0 as DamagedNum, 0 as IsCheck FROM Inventory LEFT JOIN" +
                           "(SELECT sku, sum(Quantity) Qty FROM SalesOrder INNER JOIN SalesOrderItem " +
                           "on SalesOrder.OrderNo = SalesOrderItem.OrderNo where FlightNo = '" + flightInfo.FlightNo + "' and FlightDate = '" + flightInfo.FlightDate + "' group by sku) sales " +
                           "on Inventory.Sku = sales.Sku " +
                           "LEFT JOIN (SELECT sku, sum(Quantity) Qty FROM DamageList INNER JOIN DamageItem on DamageList.DamagedNo = DamageItem.DamagedNo " +
                           "where FlightNo = '" + flightInfo.FlightNo + "' and FlightDate = '" + flightInfo.FlightDate + "' group by sku) damage" +
                           " on Inventory.Sku = damage.Sku " +
                           "where FlightNo = '" + flightInfo.FlightNo + "' and FlightDate = '" + flightInfo.FlightDate + "'"
            }

            appJsBridge.callHandler("selectList", param, function (result) {
                checkSuccess(result, function () {
                    prodList = result;
                    fliterProdByCar(carNo);
                });
            });
        }

        function fliterProdByCar(carNo) {
            var flitedProdList = {
                list: []
            };
            if (carNo) {
                for (var i = 0; i < prodList.list.length; i++) {
                    if (prodList.list[i].DiningCarNo == carNo) {
                        flitedProdList.list.push(prodList.list[i]);
                    }
                }
                $("#prodlist").html(template("s_prodlist", flitedProdList));
            } else {
                $("#prodlist").html(template("s_prodlist_all", prodList));
            }
            isCheck();
        }

        //交接清点确认
        function checkSubmit() {
            for (var i = 0; i < prodList.list.length; i++) {
                if (prodList.list[i].IsCheck == 0) {
                    AppAlert("提示", "您还有商品未清点！");
                    return;
                }
            }
            var totalConfirmCount = 0,
                totalDamagedCount = 0;

            for (var i = 0; i < damagedprodList.length; i++) {
                totalConfirmCount += damagedprodList[i].handoverCount * 1;
                totalDamagedCount += damagedprodList[i].damagedCount * 1;
            }

            $("#txt_confirm_total").text(totalConfirmCount);
            $("#txt_damaged_total").text(totalDamagedCount);
            $("#modal_showTotalCheck").show();
            //AppConfirm("提示", "您是否确认所有商品都已盘点", function () {
            //    var transferparam = {
            //        inventoryList: damagedprodList
            //    }

            //    appJsBridge.callHandler("inventory", transferparam, function (result) {
            //        checkSuccess(result, function () {
            //            AppAlert("提示", "库存盘点成功!", function (data) {
            //                window.location.href = "Query.html?type=2";
            //            });
            //        });
            //    });
            //});
        }

        function updateProdStock() {
            var damagedprod = {
                sku: $("#hd_sku").val(),//sku编号
                diningCarNo: $("#txt_dinnercarno").text(), //餐车号
                handoverCount: $("#num_stock").val(),//交接数量
                damagedCount: $("#num_damagedCount").val()//破损数量
            }
            //var photoitem = $("#block_photos").find(".photo-item");
            //for (var i = 0; i < photoitem.length - 1; i++) {
            //    var img64 = $($(photoitem[i]).find("img").attr("src"));
            //    damagedprod.imageBase64.push(img64);
            //}
            var isChecked = 0;
            for (var j = 0; j < damagedprodList.length; j++) {
                if (damagedprodList[j].sku == damagedprod.sku && damagedprodList[j].diningCarNo == damagedprod.diningCarNo) {
                    isChecked = 1;
                    damagedprodList[j].handoverCount = damagedprod.handoverCount;
                    damagedprodList[j].damagedCount = damagedprod.damagedCount;
                    break;
                }
            }
            for (var i = 0; i < prodList.list.length; i++) {
                if (prodList.list[i].Sku == damagedprod.sku && prodList.list[i].DiningCarNo == damagedprod.diningCarNo) {
                    prodList.list[i].ActQty = damagedprod.handoverCount;
                    prodList.list[i].DamagedNum = damagedprod.damagedCount;
                    prodList.list[i].IsCheck = 1;

                }
            }
            if (isChecked === 0) {
                damagedprodList.push(damagedprod);
            }

            $('.fliter-item.on').click();
            $(".prd-manage-modal").hide();
        }

        function addChecked(sku, carno) {
            for (var i = 0; i < prodList.list.length; i++) {
                if (prodList.list[i].Sku == sku && prodList.list[i].DiningCarNo == carno) {
                    var damagedprod = {
                        sku: prodList.list[i].Sku,//sku编号
                        diningCarNo: prodList.list[i].DiningCarNo, //餐车号
                        handoverCount: prodList.list[i].ActQty,//交接数量
                        damagedCount: prodList.list[i].DamagedNum//破损数量
                    }
                    damagedprodList.push(damagedprod);
                    break;
                }
            }

        }

        function removeChecked(sku, carno) {
            for (var i = 0; i < damagedprodList.length; i++) {
                if (damagedprodList[i].sku == sku && carno == damagedprodList[i].diningCarNo) {
                    damagedprodList.splice(i, 1);
                    break;
                }
            }
        }

        function isCheck() {
            var param = {
                sql: "select count(*) as isCheck from HandoverMaster where PreFlightNo='" + flightInfo.FlightNo + "' and FlightDate='" + flightInfo.FlightDate + "'"
            }

            appJsBridge.callHandler("selectList", param, function (data) {
                checkSuccess(data, function () {
                    if (data.list[0].isCheck > 0) {
                        $("dt").addClass("disabled");
                        $("#btn_transfer").attr("disabled", "true");
                    }
                });
            });
        }
    </script>
</body>
</html>
